<main class="p-4">
  {{> breadcrumbs }}
  <section class="bg-white p-6 shadow-sm rounded-lg">
    <h2 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Semua Pelanggan</h2>
    <div class="mx-auto max-w-screen-xl">
      <div class="dark:bg-gray-800 relative sm:rounded-lg overflow-hidden">
        {{!-- Search --}}
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 mb-4"
        >
          <div class="w-full md:w-1/2">
            <form class="flex items-center mb-0">
              <label for="events-search" class="sr-only">Cari</label>
              <input
                type="text"
                id="events-search"
                name="search"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Cari"
                value="{{ search }}"
              />
            </form>
          </div>
          <div
            class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0"
          >
            <button
              data-modal-target="crud-modal"
              data-modal-toggle="crud-modal"
              type="button"
              class="flex items-center justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
            >
              <svg
                class="h-3.5 w-3.5 mr-2"
                fill="currentColor"
                viewbox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
                />
              </svg>
              Tambah Pelanggan
            </button>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-4 py-3">Nama</th>
                <th scope="col" class="px-4 py-3">ID</th>
                <th scope="col" class="px-4 py-3">Email</th>
                <th scope="col" class="px-4 py-3">
                  <span class="sr-only">Aksi</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#moreThanZero customers.length}}
              {{#each ../customers}}
              <tr class="border-b dark:border-gray-700">
                <th
                  scope="row"
                  class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ name }}
                </th>
                <td class="px-4 py-3">{{ id }}</td>
                <td class="px-4 py-3">{{ email }}</td>
                <td class="px-4 py-3 text-center">
                  <a href="/dashboard/customers/{{ id }}">Lihat</a>
                </td>
              </tr>
              {{/each}}
              {{else}}
              <tr class="border-b dark:border-gray-700">
                <td class="px-4 py-3 text-center" colspan="4">No Data!</td>
              </tr>
              {{/moreThanZero}}
            </tbody>
          </table>
        </div>
        {{!-- PAGINATION --}}
        {{> create-customer-pagination }}
      </div>
    </div>
  </section>

  <!-- Main modal -->
  <div
    id="crud-modal"
    data-modal-backdrop="static"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    {{> create-customer-modal }}
  </div>
</main>
<script src="/script/dashboard/customers/create-customer.js"></script>
