<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet" />
<main class="p-4 space-y-4">
  {{> breadcrumbs }}

  {{!-- Edit Event --}}
  <section class="bg-white p-6 shadow-sm rounded-lg" id="detail">
    <h2 class="mb-6 text-xl font-bold text-gray-900 dark:text-white">Detail : {{ event.name }}</h2>
    {{!-- Keep create event id to avoid repetitive css --}}
    <form id="create-event" data-event-id="{{ event.id }}">
      <div class="grid gap-2 sm:grid-cols-2 sm:gap-3">
        <div class="w-full">
          <label
            for="event-name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Nama Event</label
          >
          <input
            type="text"
            name="name"
            id="event-name"
            class="input-styled"
            placeholder="Masukan nama event"
            required=""
            value="{{ event.name }}"
          />
        </div>
        <div class="w-full">
          <label for="is-open" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Status Penjualan</label
          >
          <select id="is-open" class="input-styled">
            {{#isSelected true event.isOpen}}
            <option value="1" selected>Buka</option>
            <option value="0">Close</option>
            {{else}}
            <option value="1">Open</option>
            <option value="0" selected>Tutup</option>
            {{/isSelected}}
          </select>
        </div>
        <div class="w-full">
          <label
            for="event-location"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Lokasi</label
          >
          <input
            type="text"
            name="event-location"
            id="event-location"
            class="input-styled"
            placeholder="Masukan lokasi event"
            required=""
            value="{{ event.location }}"
          />
        </div>
        <div class="w-full">
          <label
            for="event-date"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Waktu Penyelenggaraan</label
          >
          <input
            type="datetime-local"
            name="event-date"
            id="event-date"
            class="input-styled"
            placeholder="Event Date"
            required=""
            value="{{ event.date }}"
          />
        </div>
        <div>
          <label
            for="vendor-id"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Vendor</label
          >
          <select id="vendor-id" class="input-styled">
            <option selected="">Select Vendor</option>
            {{#each vendors}}
            {{#isSelected id ../event.vendorId}}
            <option value="{{ ../id }}" selected>{{ ../name }}</option>
            {{else}}
            <option value="{{ ../id }}">{{ ../name }}</option>
            {{/isSelected}}
            {{/each}}
          </select>
        </div>
        <div>
          <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            for="event-thumbnail"
            >Thumbnail</label
          >
          <input
            class="input-file"
            aria-describedby="event-thumbnail"
            id="event-thumbnail"
            type="file"
          />
          <p class="mt-1 text-xs text-gray-500 dark:text-gray-300" id="file_input_help">
            PNG, JPG (MAX. 512kb).
          </p>
        </div>
        <div class="sm:col-span-2">
          <label for="editor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Deskripsi</label
          >
          <div class="ql-container-customed">
            <div id="editor"></div>
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-4 gap-2">
        <button type="submit" id="event-update-btn">Perbaharui Event</button>
        <button type="button" class="red" onclick="deleteEvent('{{ event.id }}')">Hapus</button>
      </div>
    </form>
  </section>

  {{!-- Add Event Prices --}}
  <section class="bg-white p-6 shadow-sm rounded-lg" id="price-list">
    <h2 class="mb-6 text-xl font-bold text-gray-900 dark:text-white">Daftar Harga</h2>
    <form id="event-price">
      <div class="grid gap-2 sm:grid-cols-2 md:grid-cols-4 sm:gap-3">
        <div class="w-full">
          <label
            for="price-name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Kategori Harga</label
          >
          <input type="text" id="price-name" placeholder="Masukan kategori harga" required="" />
        </div>
        <div class="w-full">
          <label
            for="price-amount"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Harga</label
          >
          <input
            type="text"
            inputmode="numeric"
            id="price-amount"
            placeholder="Masukan harga"
            required=""
          />
        </div>
        <div class="w-full">
          <label
            for="price-stock"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Stok</label
          >
          <input
            type="number"
            id="price-stock"
            class="input-styled"
            placeholder="Masukan stok harga"
            required=""
          />
        </div>
        <div class="w-full">
          <label
            for="price-grade"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Kelas Harga</label
          >
          <input
            type="number"
            id="price-grade"
            class="input-styled"
            placeholder="Masukan kelas harga"
            required=""
          />
        </div>
      </div>
      <div class="flex justify-end">
        <button type="submit" class="mt-4">Tambah</button>
      </div>
    </form>

    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-4 py-3">Nama</th>
            <th scope="col" class="px-4 py-3">Harga</th>
            <th scope="col" class="px-4 py-3">Stok</th>
            <th scope="col" class="px-4 py-3">Kelas</th>
            <th scope="col" class="px-4 py-3">
              <span class="sr-only">Aksi</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#moreThanZero eventPrices.length }}
          {{#each ../eventPrices}}
          <tr class="border-b dark:border-gray-700">
            <th
              scope="row"
              class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ name }}
            </th>
            <td class="px-4 py-3">{{addCurrencySeparator price }}</td>
            <td class="px-4 py-3">{{ stock }}</td>
            <td class="px-4 py-3">{{ grade }}</td>
            <td class="px-4 py-3 text-center">
              <button onclick="deleteEventPrice('{{ id }}')">Hapus</button>
            </td>
          </tr>
          {{/each}}
          {{else}}
          <tr class="text-center">
            <td class="px-4 py-3" colspan="5">Tidak ada data</td>
          </tr>
          {{/moreThanZero}}
        </tbody>
      </table>
    </div>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
<script src="/script/dashboard/events/event-detail.js"></script>
