{{!-- Compatible with event-detail view --}}
{{#lessThanOne ./stock}}
<div class="sr-only">
  <input type="text" id="qty-input-{{ ../id }}" value="0" disabled />
</div>
<p class="p-2 uppercase border rounded-lg text-red-500 border-red-500 text-xs bg-red-50">
  Sold Out
</p>
{{else}}
{{!-- counter --}}
<div class="relative flex items-center max-w-[8rem]">
  <button
    data-input="{{ ../id }}"
    data-btn="dec"
    class="qty-operation-btn !rounded-none !rounded-l-lg"
  >
    <svg
      class="w-3 h-3 text-gray-900 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 18 2"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 1h16"
      />
    </svg>
  </button>
  <input
    type="text"
    id="qty-input-{{ ../id }}"
    inputmode="numeric"
    maxlength="2"
    min="1"
    class="qty-counter"
    value="0"
    required
    disabled
  />
  <button
    data-input="{{ ../id }}"
    data-btn="inc"
    class="qty-operation-btn !rounded-none !rounded-r-lg"
  >
    <svg
      class="w-3 h-3 text-gray-900 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 18 18"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 1v16M1 9h16"
      />
    </svg>
  </button>
</div>

{{/lessThanOne}}
