<main id="event-detail" data-event="{{ event.id }}">
  {{> breadcrumbs }}
  <div class="flex gap-6 flex-col md:flex-row">
    <div class="event-stuff">
      <div class="information">
        <h1>
          {{ event.name }} -
          <span class="vendor">{{ event.vendor }}</span>
        </h1>
        <div class="meta-info mb-4 flex flex-wrap items-center gap-4">
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-gray-500"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7"
              />
            </svg>
            <p>{{ event.location }}</p>
          </div>
          <div class="flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-gray-500"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M19 19H5V8h14m-3-7v2H8V1H6v2H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-1V1"
              />
            </svg>
            <p>{{formatISODate event.date }}</p>
          </div>
          <div class="{{#if event.isOpen}}primary-badge{{else}}red-badge{{/if}}">
            {{#if event.isOpen}}
            Sale
            {{else}}
            Close
            {{/if}}
          </div>
        </div>
      </div>
      <div class="event-img-container">
        <img
          src="/uploads/events/{{ event.thumbnail }}"
          alt="{{ event.name }}"
          title="{{ event.name }}"
        />
      </div>

      <h2
        class="text-xl text-center md:text-left font-extrabold leading-none my-6 tracking-tight text-gray-900 dark:text-white"
      >
        Deskripsi
        <span
          class="underline underline-offset-2 decoration-4 decoration-primary-400 dark:decoration-primary-600"
          >Event :
        </span>
      </h2>
      <div class="description">{{{ event.description }}}</div>
      {{> share }}
    </div>
    <div class="book-stuff md:flex-[1]">
      {{>tickets}}
    </div>
  </div>
</main>
{{> floating-sidebar }}
<script src="/script/events/event-detail.js" defer></script>
