<main id="event-detail" data-event="{{ event.id }}">
  {{> breadcrumbs }}
  <div class="flex gap-6 flex-col md:flex-row">
    <div class="event-stuff">
      <div class="information">
        <h1>
          {{ event.name }} -
          <span class="vendor">{{ event.vendor }}</span>
        </h1>
        <div class="meta-info">
          <p class="mb-2">{{ event.location }} - {{formatDate event.date }}</p>
          <div class="{{#if event.isOpen}}primary-badge{{else}}red-badge{{/if}}">
            {{#if event.isOpen}}
            Sale
            {{else}}
            Close
            {{/if}}
          </div>
        </div>
      </div>
      <div class="event-img-container">
        <img src="/{{ event.thumbnail }}" alt="{{ event.name }}" title="{{ event.name }}" />
      </div>

      <h2
        class="text-xl text-center md:text-left font-extrabold leading-none my-4 tracking-tight text-gray-900 dark:text-white"
      >
        Event
        <span
          class="underline underline-offset-2 decoration-4 decoration-primary-400 dark:decoration-primary-600"
          >Detail :
        </span>
      </h2>
      <p class="description">{{ event.description }}</p>
      {{> share }}
    </div>
    <div class="book-stuff md:flex-[1]">
      {{>tickets}}
    </div>
  </div>
</main>
{{> floating-sidebar }}
<script src="/script/events/event-detail.js" defer></script>
